doctype 5
-var post = result
-var editOrNew = (post.id) ? 'Edit' : 'New'
html
  head
    meta(charset="utf8")
    title NoBoard with Express
  body
    h1 NoPress - post - #{editOrNew}

    form#postForm(method="POST",action="/posts/save")

      input#postIdText(type="hidden",name="id",value="#{post.id}")

      div
        label(for="postAuthorText") Author:
        div
          input#postAuthorText(type="text",name="author",value="#{post.author}")

      div
        label(for="postTitleText") title:
        div
          input#postTitleText(type="text",name="title",value="#{post.title}")

      div
        label(for="postContentText") Content:
        div
          textarea#postContentText(name="content") #{post.content}

      div
        button(type="submit") Submit
        button(type="reset") Reset

    div
      a(href="/posts") Back to List
