doctype 5
- var posts = result
html
  head
    meta(charset="utf8")
    title NoBoard with Express
  body
    h1 NoBoard - Posts

    p #{posts.length} posts

    table(border="1")
      thead
        tr
          th Id
          th Title
          th Author
          th Modified
      each post in posts
        tbody
          tr
            td
              a(href="/posts/show?postId=#{post.id}") #{post.id}
            td
              a(href="/posts/show?postId=#{post.id}") #{post.title}
            td #{post.author}
            td #{post.modified}

    div
      a(href="/posts/new") New Post
