doctype 5
- var post = result
html
  head
    meta(charset="utf8")
    title NoBoard with Express
  body
    h1 NoPress - Post - #{post.id}

    dl
      dt Created:
      dd #{post.created}
      dt Modified:
      dd #{post.modified}
      dt Author:
      dd #{post.author}
      dt Title:
      dd #{post.title}
      dt Content:
      dd #{post.content}

    div
      a(href="/posts") Back to List
      span &nbsp;
      a(href="/posts/edit?postId=#{post.id}") Edit
      span &nbsp;
      a(href="/posts/delete?postId=#{post.id}",onclick="return confirm('Are you sure to delete this post?')") Delete
