doctype 5
html
  head
    meta(charset="utf8")
    title BlueBerrySeason with Express
  body
    h1 BlueBerrySeason - Post - #{post.id}

    dl
      dt Created:
      dd #{post.created}
      dt Modified:
      dd #{post.modified}
      dt Author:
      dd #{post.author}
      dt Title:
      dd #{post.title}
      dt Content:
      dd #{post.content}

    table(border="1")
      thead
        tr
          th Id
          th Content
          th Author
          th Modified
          th -
      each comment in comments
        tbody
          tr
            td #{comment.id}
            td #{comment.content}
            td #{comment.author}
            td #{comment.modified}
            td
              a(href="delete_comment?postId=#{post.id}&commentId=#{comment.id}",onclick="return confirm('Are you sure to delete this comment?')") Delete

    form#commentForm(method="POST",action="save_comment")

      input#commentPostIdText(type="hidden",name="postId",value="#{post.id}")

      label(for="commentAuthorText") Author:
      input#postAuthorText(type="text",name="author",value="")

      label(for="commentContentText") Content:
      textarea#commentContentText(type="text",name="content",value="")

      button(type="submit") Submit
      button(type="reset") Reset

    div
      a(href="list") Back to List
      span &nbsp;
      a(href="edit?postId=#{post.id}") Edit
      span &nbsp;
      a(href="delete?postId=#{post.id}",onclick="return confirm('Are you sure to delete this post?')") Delete
